[submodule "puppet/modules/jenkins"]
	path = puppet/modules/jenkins
	url = https://github.com/example42/puppet-jenkins.git
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = http://github.com/example42/puppet-mysql.git
[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
	url = http://github.com/example42/puppet-apache.git
[submodule "puppet/modules/puppi"]
	path = puppet/modules/puppi
	url = http://github.com/example42/puppi.git
[submodule "puppet/modules/slurm"]
	path = puppet/modules/slurm
	url = https://github.com/cernops/puppet-slurm.git
[submodule "ansible-playbooks"]
	path = ansible-playbooks
	url = https://github.com/cocoy/ansible-playbooks.git
